.latest-info {
  display: flex;
  flex-direction: column;
  text-align: left;

  span {
    color: red;
  }
}

.graph-control {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
}
