header {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 var(--padding-m);
  background: var(--white);
  z-index: 10;

  img {
    width: 90px;
  }

  div {
    display: flex;
  }
}

.page-link {
  margin-right: var(--margin-m);
  font-size: var(--fontsize-m);
  color: var(--darkgray);

  &::after {
    display: block;
    content: "";
    border-bottom: 2px solid var(--blue);
    transform: scaleX(0);
    transform-origin: 0% 50%;
    transition: transform 0.15s ease-in;
  }

  &:hover::after,
  &:focus::after {
    transform: scaleX(1);
  }

  &:focus,
  &:hover {
    color: var(--black);
  }
}

@media screen and (min-width: 501px) {
}
