footer {
  display: flex;
  height: 100px;
  padding: var(--padding-l);
  align-items: flex-end;

  p {
    color: var(--darkgray);
    font-size: var(--fontsize-s);
    align-self: flex-end;
  }

  a {
    color: var(--lightblue);
  }
}

.footer__inner {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.btn {
  border-radius: 5px;
  font-size: var(--fontsize-s);
  padding: var(--padding-s) var(--padding-s);
  color: var(--white);
  background: var(--lightblue);
}
