/* ========== GLOBALS ========== */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  --padding-l: 25px;
  --padding-m: 15px;
  --padding-s: 8px;
  --padding-xs: 5px;
  --margin-l: 50px;
  --margin-m: 25px;
  --margin-s: 15px;
  --margin-xs: 10px;
  --font-primary: "Roboto";
  --font-secondary: sans-serif;
  --fontsize-xl: 2rem;
  --fontsize-l: 1.5rem;
  --fontsize-m: 1.25rem;
  --fontsize-s: 0.85rem;
  --lightblue: rgb(75, 117, 255);
  --lightgray: rgb(200, 200, 200);
  --darkgray: rgb(104, 104, 104);
  --white: rgb(255, 255, 255);
  --black: rgb(0, 0, 0);
}

a {
  cursor: pointer;
  text-decoration: none;
}

/* ========== UTILITY ========== */

.container {
  width: 100%;
  max-width: 1440px;
}

/* ========== LOCAL ========== */

.App {
  display: flex;
  justify-content: center;
}
