.filter-container {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 10px;
}

.filter-select {
  font-size: var(--fontsize-xs);
  height: 40px;
  max-width: 185px;
  border: 1px solid var(--lightgray);
  border-radius: 5px;
  padding: var(--padding-xs);
  padding-left: 30px;
  outline: none;
  transition: all 0.15s ease-in;

  option {
    font-size: var(--fontsize-xs);
    background: var(--white);
  }

  &:hover,
  &:focus {
    cursor: pointer;
    background: var(--lightgray);
  }
}

.hi-sort {
  position: absolute;
  cursor: pointer;
  margin-left: var(--margin-xs);

  &:hover {
    color: var(--lightblue);
  }
}

/* MEDIA QUERIES */
@media screen and (min-width: 425px) {
  .filter-select {
    font-size: var(--fontsize-s);
  }

  option {
    font-size: var(--fontsize-s);
  }
}

@media screen and (min-width: 550px) {
  .filter-container {
    margin-bottom: 0;
    margin-right: var(--margin-m);
  }
}

@media screen and (min-width: 1024px) {
  .filter-select option {
    font-size: var(--fontsize-s);
  }
}
