#global {
  width: 100%;
  border-bottom: 1px solid var(--lightgray);
  scroll-margin-top: 100px;
}

.global-summary {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin-bottom: var(--margin-l);
  border-bottom: 1px solid var(--lightgray);

  h3 {
    font-size: var(--fontsize-xs);
    font-weight: normal;
    margin-bottom: var(--margin-s);
    color: var(--darkgray);

    span {
      color: var(--black);
    }
  }

  p {
    color: var(--darkgray);

    span {
      font-family: Helvetica, Arial, sans-serif;
      font-weight: bold;
    }
  }
}

.summary__card {
  width: 100%;
  padding: var(--padding-m);
  text-align: center;
  border-radius: 10px;
  border: 1px solid var(--lightgray);
  margin-bottom: var(--margin-s);
  background-color: var(--white);

  &:last-of-type {
    margin-bottom: var(--margin-l);
  }

  span {
    font-size: var(--fontsize-m);
    color: var(--red);
  }

  p {
    display: flex;
    flex-direction: column;
    color: var(--darkgray);
    font-size: var(--fontsize-s);
  }
}
