#global {
  width: 100%;

  table,
  tbody {
    width: 100%;
  }

  th,
  td {
    width: 100%;
    padding: var(--padding-s) var(--padding-s);
    font-family: "Roboto", "Times New Roman", Times, serif;
  }

  th {
    text-align: left;
    font-weight: normal;
    background-color: var(--lightblue);
  }

  td {
    text-align: right;
    background-color: var(--lightgray);
  }

  p {
    margin: var(--margin-xs) 0;
    text-align: right;
    font-size: var(--fontsize-s);
    color: var(--darkgray);
  }
}

.graph {
  width: 100%;
  height: 500px;
  background: rgb(123, 123, 123);
  margin-bottom: var(--margin-m);
}
