#countries {
  margin-top: var(--margin-l);
  scroll-margin-top: 90px;
}

.country-table {
  background: var(--white);
  width: 100%;
  min-height: 400px;
  font-size: var(--fontsize-s);
  counter-reset: number;
}

.country-table__controls {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: var(--margin-m);
}

.country-card {
  border: 1px solid var(--lightgray);
  border-radius: 5px;
  width: 100%;
  overflow: hidden;

  &:not(:last-child) {
    margin-bottom: var(--margin-s);
  }

  h4 {
    width: 100%;
    letter-spacing: 1px;
    font-weight: normal;
    font-size: var(--fontsize-m);
    padding: var(--padding-s) var(--padding-m);
    background: var(--red);
    color: var(--white);

    &::before {
      counter-increment: number;
      content: counter(number) ". ";
      font-size: 1rem;
    }
  }
}

.card__inner {
  display: flex;
  padding: var(--padding-s) var(--padding-m);

  table {
    width: 100%;
    height: 100%;
  }

  table:first-child {
    max-width: 125px;
    margin-right: var(--margin-s);
  }

  tr {
    display: flex;
    flex-direction: column;

    :not(:first-child) {
      padding-top: 5px;
    }

    &:not(:last-of-type) {
      margin-bottom: 10px;
    }
  }

  th,
  td {
    text-align: left;
  }

  th {
    color: var(--darkgray);
    font-weight: normal;
  }

  td {
    font-family: Helvetica, Arial, sans-serif;
    color: var(--red);
  }
}

.no-results {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 350px;
  font-size: var(--fontsize-l);
  border: 1px solid var(--lightgray);
}

/* MEDIA QUERIES */

@media screen and (min-width: 425px) {
  .card__inner {
    table:first-child {
      max-width: 200px;
      margin-right: var(--margin-m);
    }

    tr {
      flex-direction: row;

      :not(:first-child) {
        padding-top: 0px;
      }
    }

    th,
    td {
      width: 100%;
    }

    td {
      text-align: right;
    }
  }
}

@media screen and (min-width: 550px) {
  .country-table__controls {
    flex-direction: row;
  }

  .card__inner {
    th {
      width: 100%;
    }
    td {
      width: fit-content;
    }
  }
}

@media screen and (min-width: 600px) {
  .country-table {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--margin-m);
  }

  .country-card {
    max-height: 225px;

    &:not(:last-child) {
      margin-bottom: 0;
    }

    h4 {
      font-size: 1rem;
    }
  }

  .card__inner {
    tr {
      flex-direction: column;

      :not(:first-child) {
        padding-top: 5px;
      }
    }

    td {
      text-align: left;
    }
  }

  .no-results {
    grid-column: 1/3;
  }
}

@media screen and (min-width: 900px) {
  .card__inner {
    tr {
      flex-direction: row;

      :not(:first-child) {
        padding-top: 0px;
      }
    }

    th,
    td {
      width: 100%;
    }

    td {
      text-align: right;
    }
  }
}

@media screen and (min-width: 1024px) {
  .country-table {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .card__inner {
    tr {
      flex-direction: column;

      :not(:first-child) {
        padding-top: 5px;
      }
    }

    td {
      text-align: left;
    }
  }

  .no-results {
    grid-column: 1/4;
    font-size: var(--fontsize-xl);
  }
}

@media screen and (min-width: 1280px) {
  .country-card h4 {
    font-size: var(--fontsize-m);
  }
}

@media screen and (min-width: 1440px) {
  .country-card {
    height: fit-content;
  }

  .card__inner {
    padding: var(--padding-m);

    tr {
      flex-direction: row;

      :not(:first-child) {
        padding-top: 0px;
      }
    }

    td {
      text-align: right;
    }
  }
}
